.button {
    width: 160px;
    height: 45px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background: $main-color;
    border: none;
    text-decoration: none;
    outline: none !important;
    &:hover {
        background-color: #dc5238;
    }
    &__form {
        width: 180px;
    }
}