.title {
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text2;
    text-align: center;
}
.descr {
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: $color-text2;
    margin: 17px auto 0 auto;
    text-align: center;
    width: 77%;
}
